body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stateCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  margin-left: 10%;
  margin-right: 10%;
}

.Cards {
  padding: 25px;
  margin: 5px;
  background-color: aliceblue;
  border-color: black;
}

.Cards.selected {
  padding: 25px;
  margin: 5px;
  background-color: rgb(141, 196, 243);
  border-color: black;
}

.Cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dateinput {
  position: absolute;
  top: 0;
}
